<div class="container" ng-controller="allPatientsCtrl" ng-init='getAllPatients()'>
    <h1 class="panel-heading" class="glyphicon glyphicon-add">PATIENT RECORDS</h1>

    <div align="left" style="padding-bottom: 12px; padding-right: 12px;">
        <form class="form-inline">
            <div class="form-group has-feedback">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <input class="btn btn-primary" onclick="location.href='#/registerPatient';" role="button" value="Register New Patient">
        </form>
    </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th ng-click="sort('p_id')">Id
                        <span class="glyphicon sort-icon" ng-show="sortKey=='p_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('p_first_name')">First Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='p_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('p_last_name')">Last Name
                        <span class="glyphicon sort-icon" ng-show="sortKey=='p_last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('p-dob')">Date of Birth
                        <span class="glyphicon sort-icon" ng-show="sortKey=='p_dob'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('p_program')">Program
                        <span class="glyphicon sort-icon" ng-show="sortKey=='p_program'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ></th>
                    <th ></th>
                    <th ></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" ng-controller="singlePatientCtrl">

                    <td>{{user.p_id}}</td>
                    <td>{{user.p_first_name}}</td>
                    <td>{{user.p_last_name}}</td>
                    <td>{{user.p_dob | date}}</td>
                    <td>{{user.p_program.join(', ')}}</td> 

                    <td><a ng-click="viewPatient(user)" class="glyphicon glyphicon-pencil"></a></td>
                    <td><a ng-click="viewPatientMessages(user)" class="glyphicon glyphicon glyphicon-envelope"></a></td>
                    <td><a ng-click="viewPatientReport(user)" class="glyphicon glyphicon glyphicon glyphicon-file"></a></td>
                </tr>
            </tbody>
        </table> 
        <dir-pagination-controls
            max-size="10"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
<!-- Ends Controller -->

